{% extends 'lynx/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Register | Edenthought
{% endblock %}
{% block content%}
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1> Register </h1>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {{form.username|as_crispy_field}}

            <br>

            {{form.email|as_crispy_field}}

            <br>

            {{form.password1|as_crispy_field}}

            <br>

            {{form.password2|as_crispy_field}}

            <br>

            <input class="btn btn-primary w-100" type="submit" value="Create my account"/>

        </form>
        <br>
        <p>Already have an account? </p> <a href="{% url 'my-login'%}"> <br> Login to my account</a>
    </div>
    <br>
{% endblock%}
